.registration p.descr {
  margin-bottom: calc(2 * var(--size-xl));
  letter-spacing: -1px;
  text-align: center;
}

.registration {
  display: grid;
  place-content: center;
  margin: 0 auto;
  height: 100vh;
  max-width: 50vw;

  label {
    margin-bottom: var(--size-lg);

    &:last-of-type {
      margin-bottom: var(--size-xl);
    }
  }

  button:first-of-type {
    margin-bottom: var(--size-xs);
  }
}