.settings {
  display: flex;
  flex-direction: column;
  place-content: center;
  margin: auto;
  padding: var(--size-lg);
  height: 100dvh;
  max-width: 800px;
}

.header {
  margin-bottom: var(--size-lg);
}

.back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  gap: var(--size-xs);

  img {
    width: var(--size-3xl);
  }
}

.form {
  display: grid;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: var(--size-lg);

  .image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: var(--input);
  }

  input {
    display: none;
  }
}

.fields {
  display: grid;
  margin-bottom: var(--size-lg);
  gap: var(--size-lg);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--size-md);
}