.container {
  position: fixed;
  z-index: 10;
  font-size: 14px;
}

.bottom-right {
  right: 1rem;
  bottom: 1rem;
  animation: toast-in-right 0.7s;
}

.notification {
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 6px #999;
  color: #000;
  opacity: 0.9;
  transition: 0.3s ease;
}

.notification:hover {
  box-shadow: none;
  opacity: 1;
}

.toast {
  padding: 10px 15px 10px 10px;
  width: 365px;

  &.info {
    background-color: #efefef;
  }

  &.error {
    background-color: var(--red-200);
  }
}

.container button {
  float: right;
  border: none;
  color: #fff;
  background: none;
  opacity: 0.8;
  cursor: pointer;
}

.title {
  margin-top: 0;
  margin-bottom: 6px;
  width: 300px;
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
}

.description {
  margin: 0;
  text-align: left;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}