@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    src: url("/fonts/#{$url}.woff2") format("woff2");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}