@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    src: url("/fonts/#{$url}.woff2") format("woff2");
    font-family: "#{$font-family}";
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin btn-reset {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  color: inherit;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}