* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font: var(--body-regular-m);
  line-height: 1.1;
  color: var(--ash);
  background-color: var(--background);
}

img {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}