.error {
  display: grid;
  place-content: center;
  place-items: center;
  height: 100dvh;

  h1 {
    margin: 0 0 var(--size-xl);
    font-size: 160px;
  }

  p {
    margin: 0 0 var(--size-xl);
    font: var(--subtitle-m);
  }

  button, a {
    min-width: 273px;
  }
}